.combo-input-container {
    width: 40vh;
    height: 10vh;
    border-radius: 3px;
    border: 3px solid var(--accent-secondary);
}

div:has(> .combo-input) {
    height: 100%;
}

.combo-input {
    height: 30%;
    width: 80%;
    border-radius: 3px;
    border: 3px solid var(--accent-secondary);
    padding: 3px 10px;
    font-family: 'salsa';
}

.combo-input:focus {
    outline: none;
}



