:root {
  --nav-background: rgb(39, 48, 84);
  --global-background: rgb(9, 31, 66);
  --accent-primary: rgb(255,255,255);

  background-color: var(--global-background);
}

* {
  margin: 0;
  padding: 0;
}