@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

:root {
  --nav-background: rgb(39, 48, 84);
  --background-secondary: rgb(14, 47, 99);
  --background: rgb(9, 31, 66);
  --accent-secondary: rgb(52, 143, 235);
  --accent-primary: rgb(255,255,255);

  background-color: var(--background);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}